<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Notice">
	
	<select id="selectAll" resultType="Notice">
		select * from notice order by notice_idx desc	
	</select>
	
	<!--  
		${} - 동적컬럼명에 사용가능
		#{jdbc 의 바인드 변수 대체}- 컬럼명으로 사용할 수 없다
	-->
	<select id="select" parameterType="int" resultType="Notice">
		<![CDATA[
			select * from notice 
			where notice_idx=#{notice_idx}
		]]> 
	</select>	
	
	<insert id="insert" parameterType="Notice">
		insert into notice(notice_idx, title, writer, content)
		values(seq_notice.nextval, #{title},#{writer},#{content})
	</insert>	
	
	<update id="update" parameterType="Notice">
		update notice set title=#{title}, writer=#{writer}
		, content=#{content} where notice_idx=#{notice_idx}
	</update>		
	
	<delete id="delete" parameterType="int">
		delete notice where notice_idx=#{notice_idx}
	</delete>
	
</mapper>




